<html>
<head>
  <title>Gothons From Planet Percal #25</title>

  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <nav>
    <div class="left">
      <h3>Your highscore: {{ session['current_user_highscore'] }}</h3>
    </div>
    <div class="right">
    {% if not session['logged_in'] %}
      <a href="/login">Log In / Register</a>
    {% else %}
      <a href="/logout">Logout</a>
    {% endif %}
    </div>
  </nav>
{% block content %}

{% endblock %}

</body>
</html>