<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}


<form action="/login" method="POST">
	<div class="container">
		<div class="screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
			<a href="/signup">Do not have an account? Sign up now.</a>
			<br>
			<br>
			<div class="form">
				<div class="control-group">
					<input type="text" class="field" value="" placeholder="username" name="username">
					<label class="field-icon fui-user" for="name"></label>
				</div>

				<div class="control-group">
					<input type="password" class="field" value="" placeholder="password" name="password">
					<label class="field-icon fui-lock" for="pass"></label>
				</div>
				<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
				<br>
			</div>
		</div>
	</div>
</form>

{% endif %}
{% endblock %}